.gallary .gallary_image_box .gallary_image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.gallary .gallary_image_box .gallary_image img {
    width: 100%;
    transition: 0.3s;
    filter: contrast(1.4);
    height: 300px;
}

.gallary .gallary_image_box .gallary_image:hover img {
    opacity: .4;

}

.gallary .gallary_image_box .gallary_image h3 {
    position: absolute;
    font-size: 35px;
    margin-bottom: 160px;
    color: gold;
    z-index: 5;
    opacity: 0;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover h3 {
    opacity: 1;

}

.gallary .gallary_image_box .gallary_image p {
    position: absolute;
    /* width: 26%; */
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover p {
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn {
    position: absolute;
    margin-top: 190px;
    color: #000;
    background-color: gold;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(45px);
    z-index: 5;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn {
    opacity: 1;
    transform: translateY(0);
}